.app-shell {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 200px 1fr;
    height: 100vh;
    width: 100vw;
}

.topbar {
    grid-column: 1 / -1;
    background-color: var(--bg-secondary);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.sidebar {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    padding: 20px;
}

.sidebar-overlay {
    display: none;
}

.content {
    background-color: var(--bg-primary);
    /* padding: 20px; */
    overflow-y: auto;
}

/* MOBILE */
@media (max-width: 768px) {
    .app-shell {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr;
    }

    .sidebar-overlay {
        display: block;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 99;
        top: 60px;
    }
}